

.swipe-slide-div {
  display: flex;
  overflow: visible;
  max-width: 100%;
  position: relative;
  justify-content: center;
  padding: 11px;
  overflow-x: auto;

  .swipe-slide {
    backface-visibility: hidden;
    transform: translate(0px, 0px);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
  }

  .swipe-slide>* {
    display: inline-block !important;
    vertical-align: top;
    white-space: normal;
    text-align: left;
    margin: 0 7px;
  }

  .swipe-slide> :last-child {
    margin-right: 16px;
  }

  .swipe-slide> :first-child {
    margin-left: 16px;
  }

  .swipe-slide, .swipe-slide-div {
    scrollbar-width: none;
  }

  .swipe-slide::-webkit-scrollbar {
    /* This is the magic bit for WebKit */
    display: none;
  }
  &::-webkit-scrollbar {
    /* This is the magic bit for WebKit */
    display: none;
  }
  &.swipe-slide-div {
    padding: 0px;
  }

  .container.crousel {
    scrollbar-color: transparent transparent;
    /* thumb and track color */
    scrollbar-width: 0px;
  }
}
